<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4" *ngFor="let item of items | async; index as i">
        <div class="card rounded-lg">
            <a href="{{ item.url }}" id="imagen" download="{{ item.nombre }}">
                <img [src]="item.url" class="card-img-top">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">{{ item.nombre }}</h5>
                <div class="text-right">
                    <button (click)="downloadImage( item.nombre, item.url )" class="btn btn-outline-success mr-2"><i class="fa fa-xs fa-download"></i></button>
                    <button (click)="onBorrarFoto( i )" class="btn btn-outline-danger"><i class="fa fa-xs fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--data-lightbox="image-1" data-title="{{item.nombre}}" -->